@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
	url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/MontserratBold/MontserratBold.eot");
	src: url("../fonts/MontserratBold/MontserratBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MontserratBold/MontserratBold.woff") format("woff"),
	url("../fonts/MontserratBold/MontserratBold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}