/*====================Global styles for header*/

header {
    background: url(../images/header-bkg.jpg)no-repeat center center fixed;
    background-size: cover;
}

header p {
    font-size: 14px;
    line-height: 1.5;
    font-family: "OpenSansRegular";
    color: #60606e;
    
}

header button {
    background-color: #7beec7;
    width: 165px;
    height: 50px;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-family: "Montserratbold";
    font-size: 14px;
    cursor: pointer;
    /* margin: 4px 2px;*/
    /* padding: 20px 38px;*/
}

.header-image {
    width: 100%;
    height: auto;
}


/*====================Styles for header-navigation*/

.header-navigation {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: "MontserratBold";
    text-decoration: none;
    text-transform: uppercase;
    color: #60606e;
    font-size: 18px;
}


/*====================Styles for header-side-menu*/

.header-side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.header-side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserratbold";
    color: #60606e;
    display: block;
    transition: 0.3s;
}

.header-side-nav a:hover {
    color: #7beec7;
}

.header-side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
   /* margin-left: 50px;*/
}


/*====================Styles for header-bg section*/

.header-bg {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header-background-wrapper h4 {
    background-color: #7BEEC7;
    padding: 10px 15px;
    font-size: 18px;
    font-family: "Montserratbold";
    color: #60606e;
    text-transform: uppercase;
}

.header-bg h1 {
    border: 10px solid #60606e;
    font-size: 48px;
    font-family: "Montserratbold";
    color: #60606e;
    text-transform: uppercase;
    padding: 20px 36px;
}

.header-bg p {
    margin-top: 1%;
    text-align: center;
    max-width: 45%;
}


/*====================Styles for header-history-of-agency section*/

.header-history-of-agency {
    display: flex;
    flex-direction: row;
}

.header-wrapper-history-of-agency {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 88%;
}

.header-history-of-agency h2 {
    font-size: 30px;
    font-family: "Montserratbold";
    color: #60606e;
    text-transform: uppercase;
    padding-bottom: 2%;
}

/*====================GREEN BKG FOR LETTERS*/
.header-green-text-background {
    box-shadow: inset rgb(123, 238, 199) 0px -22px;
    padding-bottom: 3px;
    display: inline-block;
}
/*====================GREEN BKG FOR LETTERS*/

.header-green-button {
    margin-top: 45%;
    align-self: flex-end;
}