/*====================Global styles for header*/

header {
    background: url(../images/header-bkg.jpg)no-repeat center center fixed;
    background-size: cover;
}

header p {
    font-size: 14px;
    line-height: 1.5;
    font-family: "OpenSansRegular";
    color: #60606e;
}

.header-image {
    position: relative;
    top:110px;
    width: 100%;
    height: auto;
}


/*====================Styles for header-navigation*/

.header-navigation {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-top:30px;
    margin-left: 80px;
    font-family: "MontserratBold";
    text-decoration: none;
    text-transform: uppercase;
    color: #60606e;
    font-size: 18px;
}

/*====================Styles for SVG*/
.header-svg{
  margin-top:30px;
  margin-right: 30px;
}

/*====================Styles for header-side-menu*/

.header-side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.side-menu-logo {
    padding-left: 80px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserratbold";
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu-optons{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserratbold";
    color: #60606e;
    display: block;
    transition: 0.3s;
}

.header-side-nav a:hover {
    color: #7beec7;
}

.header-side-nav .btn-close {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserratbold";
    color: #60606e;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
 }
/*====================Styles for header-bg section*/

.header-bg {
    margin-top: 160px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header-background-wrapper h4 {
    background-color: #7BEEC7;
    padding: 10px 15px;
    font-size: 18px;
    font-family: "Montserratbold";
    color: #60606e;
    text-transform: uppercase;
}

.header-bg h1 {
    border: 10px solid #60606e;
    font-size: 48px;
    font-family: "Montserratbold";
    color: #60606e;
    text-transform: uppercase;
    padding: 20px 36px;
}

.header-bg p {
    margin-top: 30px;
    text-align: center;
    max-width: 45%;
}


/*====================Styles for header-history-of-agency section*/

.header-history-of-agency {
    display: flex;
    flex-direction: row;
}

.header-wrapper-history-of-agency {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    margin-right:80px;
    width: 88%;
}

.header-history-of-agency h2 {
    font-size: 30px;
    font-family: "Montserratbold";
    color: #60606e;
    text-transform: uppercase;
    padding-bottom: 20px;
}


/*====================Styles for BUTTON in header-history-of-agency section*/

.header-green-button {
    
    background-color: #7beec7;
    width: 365px;
    height: 50px;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-family: "Montserratbold";
    font-size: 14px;
    cursor: pointer;
    align-self: flex-end;
    position: relative;
    /* Better solution????  */
    top:20px;
    left:550px;
}
/*==================== END Styles for header-history-of-agency section*/

/*====================GREEN BKG FOR LETTERS*/

.header-green-text-background {
    box-shadow: inset rgb(123, 238, 199) 0px -22px;
    padding-bottom: 3px;
    display: inline-block;
}

/*===============MAIN SECTION WHY CHOOSE US=======================*/

/*==================== styles main-why-this-agency-choose*/

.main-why-this-agency-choose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}
.why-this-agency-h1 {
    font-size: 30px;
    font-family: "Montserratbold";
    color: #60606e;
    text-transform: uppercase;
    margin-bottom:20px; 
}
.why-this-agency p {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    font-family: "OpenSansRegular";
    color: #60606e;
    margin-bottom: 140px;
    width: 750px;
}

/*==================== styles main-why-this-agency-options*/

.main-why-this-agency-options{
    min-width: 100%;
    display: flex;
    flex-direction: row;
}

.why-this-agency-aside-first {
    margin-left:80px;
    margin-right: 140px;
}
.why-this-agency-aside-second{
    margin-right: 125px;
}
.why-this-agency-aside h3{
    font-size: 18px;
    font-family: "Montserratbold";
    color: #60606e;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.why-this-agency-aside ul{
    list-style-type:none;
    margin-bottom: 60px;
}
.why-this-agency-aside li{
    margin-bottom: 10px;
}
.why-this-agency-aside a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    font-family: "OpenSansRegular";
    color: #b6b6b6;
    transition: 1s ease-in;
}
.why-this-agency-aside a:hover {
    color: #7beec7;
}

/*====================GREEN BKG FOR LETTERS*/

.green-text-background {
    box-shadow: inset rgb(123, 238, 199) 0px -22px;
    padding-bottom: 3px;
    display: inline-block;
}


/*==================== Why this agency section Image*/

.why-this-agency-image{
    position: relative;
    top: -30px;
    left:55px; 
}
