/*====================Styles for our-portfolio-header section*/

.our-portfolio {
  margin-top: 25px;
  font-family: "MontserratBold";
  display: flex;
  flex: 1 auto;
  flex-direction: column;
}

.our-portfolio-header {
  text-align: center;
}

.our-portfolio-h2,
.our-portfolio-p1 {
  margin-bottom: 30px;
}

.our-portfolio-h2 {
  font-size: 30px;
  color: rgb(96, 96, 110);
}

.our-portfolio-green-text-background {
  box-shadow: inset rgb(123, 238, 199) 0px -16px;
  padding-bottom: 3px;
}

.our-portfolio-p1 {
  font-size: 14px;
  font-family: "OpenSansRegular";
  color: rgb(96, 96, 110);
}

.our-portfolio-main-content {
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  justify-content: space-between;
}

/*==========================================Side nav menu*/

.our-portfolio-nav-menu {
  margin-left: 10px;
  margin-right: 10px;
}

.our-portfolio-nav-menu a {
  text-decoration: none;
}

.our-portfolio-nav-menu h2 {
  font-size: 30px;
  color: rgb(96, 96, 110);
  margin-bottom: 20px;
}

.our-portfolio-select-all {
  background-color: rgb(123, 238, 199);
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 2px 20px;
  display: inline-block;
}

.our-portfolio-nav-menu-categories {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.our-portfolio-nav-menu-categories a {
  font-size: 14px;
  color: rgb(96, 96, 110);
  margin: 0px 0px 15px 30px;
  padding: 6px 3px;
  transition: 0.4s ease-out;
}

.our-portfolio-nav-menu-categories a:hover {
  background-color: rgb(123, 238, 199);
  color: rgb(56, 56, 68);
}


/*=======================Styles for photo-list section*/

.our-portfolio-photo-list {
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  justify-content: flex-end;
}

.column-photo-list {
  display: flex;
  flex-direction: column;
}

.our-portfolio-photo-list img {
  margin: 10px;
  max-width: 100%;
}

/*=========Styles for slider=========*/

.slider-container {
  display: none;
}