*{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1150px;
	margin: 0 auto;
}
html,
body{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
}
main{
	flex: 1 0 auto;
}
footer{
	flex: 0 0 auto;
}